:root {
    --hightlight-primary: hsl(10, 79%, 65%);
    --hightlight-secondary: hsl(186, 34%, 60%);

    --background: hsl(27, 66%, 92%);
    --text-primary: hsl(25, 47%, 15%);
    --text-secondary: hsl(33, 100%, 98%);
    --text-tertiary:  hsl(28, 10%, 53%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article,
figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-size: 18px;
    font-family: "DM sans", sans-serif;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.graph-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--text-secondary);
    border-radius: 12px;
    padding: 1.4em;
    gap: 1em;
}

.balance-summary {
    display: flex;
    justify-content: space-between;
    background-color: var(--hightlight-primary);
    color: var(--text-secondary);
    border-radius: 12px;
    padding: 1em;
} 

.balance-summary img {
    transform: scale(0.7);
}

.balance-summary p {
    font-weight: 700;
}

.balance {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 0.6em;
    font-weight: 400;
}

.spending-breakdown {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.spending-breakdown p {
    font-size: 0.7em;
    color: var(--text-tertiary);
}

.bar-graph {
    display: flex;
    border-bottom: 1px solid var(--text-tertiary);
    padding-bottom: 1em;
    height: 9rem; /* so won't wiggle when amount detail is displayed */
}
.bar-graph p {
    font-size: 0.6em;
}
.month-summary {
    display: flex;
    flex-direction: column;
}

.month-summary h2 {
    color: var(--text-tertiary);
}

.month-summary-wrapper > p {
    font-weight: 700;
    font-size: 1.4em;
}

.month-summary-wrapper > p, .percent-change {
    font-weight: 700;
}

.percent-change {
    font-size: 0.6em;
}

.month-change {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.month-change p:not(.percent-change) {
    font-size: 0.6em;
    color: var(--text-tertiary);
}

.month-summary-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0.3em;
    width: 2.2em; /* so won't wiggle when amount detail is displayed */
}

.bar {
    background-color: var(--hightlight-primary);
    width: 2em;
    border-radius: 5px;
}

.bar:hover {
    cursor: pointer;
    opacity: 0.7;
}

.bar.today {
    background-color: var(--hightlight-secondary);
}

.amount-spent {
    background-color: var(--text-primary);
    color: var(--text-secondary);
    font-size: 0.7em;
    padding: 0.3em 0.3em;
    margin-bottom: 0.2em;
    border-radius: 5px;
    display: none;
}

.amount-spent.focused {
    display: block;
}

@media (max-width: 420px) {
    .bar {
        width: 1.7em;
    }
    .bar-wrapper {
        width: 2em;
        margin: 0 0.1em;
    }
    .graph-wrapper {
       padding: 1em;
    }
}