:root {
    --hightlight-primary: hsl(10, 79%, 65%);
    --hightlight-secondary: hsl(186, 34%, 60%);

    --background: hsl(27, 66%, 92%);
    --text-primary: hsl(25, 47%, 15%);
    --text-secondary:  hsl(28, 10%, 53%);

    --orange: hsl(33, 100%, 98%);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-size: 18px;
    font-family: "DM sans", sans-serif;
}
